.row
  .col-lg-12
    p Last update: {{last_update}}
    div
        form(class="bs-example bs-example-form", role="form", enctype="multipart/form-data")
            div(class="row")
                div(class="col-lg-2")
                    button(ng-click="showMap=true", class="btn btn-primary btn-file") Table View
                    button(ng-click="showMap=false", class="btn btn-primary btn-file") Map View

                div(class="col-lg-4")
                    div(class="input-group")
                        span(class="input-group-btn")
                            button(ng-click="download()", class="btn btn-primary btn-file") Download
                            button(ng-click="upload()", class="btn btn-primary btn-file") Upload
                        input(type = "file", file-model="myFile", class="form-control", name="file", multiple)
    
    br
    br
    div(ng-model="showMap")
        div(ng-hide="!showMap", ng-cloak)
            tree-grid(tree-data='treedata', expand-level="1", expand-on="expanding_property", col-defs="col_defs")
        div(ng-hide="showMap", ng-cloak)
            {{ geojson.selected.properties.PROVINCE || 'No province selected' }}
            leaflet(defaults='defaults', center='philippines', geojson='geojson', legend='legend', events='events')