!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title PAGASA Weather Alert Dashboard
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/ng-grid/ng-grid.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body