!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title DOST FAST
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/tree-grid/treeGrid.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/leaflet/leaflet.css')
    link(rel='stylesheet', href='/css/disaster.css')
  body
    block body