/* app css stylesheet */

body {
  padding-top:70px;

}

.gridStyle {
    display: block;
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: inherit;
}

.red {
  background-color: red;
  color: white;
}

div {
  font-size: 11px;
}

.container {
  margin: 10px;
  width: 100%;
}

.regionHeader {
  width: 6.8%;
  display: inline-block;
}

.otherHeader {
  width: 13%;
  display: inline-block;
  /**border: 1px black; */
  background-color: orange;
}


.red {
  background-color: red;
}